%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang noet


%% Require at least R14B03. (couchdb requires this version or newer, and this code hasn't been tested on earlier)
{require_min_otp_vsn, "R14B03"}.

%% Ensure the ebin directory exists before we try to put files there.
{pre_hooks, [
    {compile, "mkdir -p ebin"}
]}.


%% == xref ==

%% Enable xref warnings.
{xref_warnings, true}.

%% xref checks to run
{xref_checks, [undefined_function_calls]}.
